@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#root {
    flex: 1;
}
